.nav-link {
    color: #fff !important;
}
.nav-link.active {
    background-color: #1f2833 !important;
    color: #fff !important;
}
.card {
    background-color: #1a1d23 !important;
    color: #fff !important;
}
